.card {
  margin: 0px;
  width: 540px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list {
  padding: 0px;
  margin: 0px;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__list-item:last-child {
  margin: 0px;
}

.card__list-divider {
  display: inline-block; /* inline-block adds height and width */
  flex-grow: 1;
  border-bottom: solid black;
}
