.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-color: #838383;
  border-radius: 4px;
  padding-left: 20px;
}

.form__button {
  width: 100%;
  padding: 0;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__checkbox {
  margin-right: 12px;
}

.form__label_type_checkbox {
  color: #000;
}
