.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.header__title {
  max-width: 729px;
  margin: 183px 0px 0px;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 1;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* footer stays at the bottom */
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

.header__paragraph:last-child {
  display: flex;
  align-items: flex-end;
  margin: 0px;
}
