.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  color: #000;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__links:last-child {
  margin-right: 0px;
}
