.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0px 0px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin-top: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__videos-caption {
  margin: 24px 0px 0px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
