.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  height: 39px;
  width: 105px;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  color: #000;
}

.nav__link {
  margin-right: 20px;
  color: #000;
  text-decoration: none;
}

.nav__links:last-child {
  margin-right: 0px;
}

.header__title {
  max-width: 729px;
  margin: 183px 0px 0px;
  font-family: "Inter", Arial, "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  height: 568px;
  width: 646px;
  position: absolute;
  top: 124px;
  right: 5px;
  z-index: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* footer stays at the bottom */
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  color: #838383;
}

.header__paragraph-address {
  display: flex;
  align-items: flex-end;
  margin: 0px;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 24px 0px 0px;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__videos-caption {
  margin: 24px 0px 0px;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0px 120px;
}

.reservation__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0px 0px 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-color: #838383;
  border-radius: 4px;
  padding-left: 20px;
}

.form__button {
  width: 100%;
  padding: 0;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: #ffffff;
}

.form__checkbox {
  margin-right: 12px;
}

.form__label_type_checkbox {
  color: #000;
}
